---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Cool Resume</title>
  </head>
  <body class="grid min-h-screen place-items-center bg-gray-400">
    <main
      class="m-4 h-[297mm] w-[210mm] overflow-hidden rounded-md bg-white p-8 shadow-lg justify-center items-center"
    >
    <!-- Header section -->
    <div class=""> 
      
    </div>


    <!-- Main section -->
    <div class="columns-2">
        <!-- First column -->
        <div></div>
        <!-- Second column -->
        <div></div>
    </div>


    <!-- Footer section -->
    <div></div>
    </main>
  </body>
</html>