---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Cool Resume</title>
  </head>
  <body class="grid min-h-screen place-items-center bg-gray-400">
    <main
      class="m-4 h-[297mm] w-[210mm] overflow-hidden rounded-md bg-white shadow-lg justify-center items-center"
    >
    <!-- Header section -->
    <div class="bg-gray-300 h-64 px-20 py-20"> 
        <p class="flex justify-end"> Francisco Bravo </p>
        <div class="justify-start">
          <div class="justify-start pl-20"></div> 
            <header> Contact </header> 
            <li> bravofran3@gmail.com 
            <li> 635880438
          </div>
        </div>
    </div>


    <!-- Main section -->
    <div class="columns-2 px-12">
        <!-- First column -->
        <div>
          <div>
            <p>text</p>
          </div>
          <div></div>
          <div></div>
        </div>
        <!-- Second column -->
        <div></div>
    </div>


    <!-- Footer section -->
    <div class="bg-gray-300 h-10 bottom-0"></div>
    </main>
  </body>
</html>